!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Userhorde
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true, defer: true)
    = javascript_pack_tag('app-bundle', 'data-turbolinks-track': true, defer: true)
  %body
    = yield
